@{
    ViewBag.Title = "Index";
}

<div class="container-fluid pdlph-body-container">
    <div class="row">
        <div class="col-md-2 pdlph-left-pane hidden-sm hidden-xs">
           <ul class="list-group">
               <li class="list-group-item pdlph-nav-item active" data-nav-id="1">Prescriptions<span class="ink"></span></li>
               <li class="list-group-item pdlph-nav-item" data-nav-id="2">Appointments<span class="ink"></span></li>
               <li class="list-group-item pdlph-nav-item" data-nav-id="3">Chat<span class="ink"></span></li>
               <li class="list-group-item pdlph-nav-item" data-nav-id="4">About<span class="ink"></span></li>
           </ul>
        </div>
        <div class="col-md-10 pdlph-right-pane">
            <div class="row">
                <div class="col-md-12">
                    <div class="pdlph-content-container">
                        <div class="pdlph-slide" data-slide-id="1">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 pdlph-prescriptions-contianer">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-10 col-sm-10">
                                                <input type="text" name="prescription" value="" placeholder="Search Prescriptions" class="form-control" />
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="pdlph-prescriptions">
                                        <div class="pdlph-prescription">
                                            asdf
                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>
                                        <div class="pdlph-prescription">

                                        </div>      
                                    </div>
                                                                
                                </div>
                                <div class="col-md-8 col-sm-8 pdlph-prescription-details">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-6"><h4>Prescription ID : 14523</h4></div>
                                            <div class="col-md-6"><h4>Doctor : Richard </h4></div>
                                        </div>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Medicine</th>
                                                    <th>Strength</th>
                                                    <th>Dosage Form</th>
                                                    <th>Dosage Instruction</th>
                                                    <th>Period</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>sdfafsdfasdfasfdasdfasdf</td>
                                                </tr>
                                                <tr>
                                                    <td>sdfafsdfasdfasfdasdfasdf</td>
                                                </tr>
                                                <tr>
                                                    <td>sdfafsdfasdfasfdasdfasdf</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pdlph-slide" data-slide-id="2">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 pdlph-appointments-container">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-2 col-sm-2">
                                                <span class="pdlph-add glyphicon glyphicon-plus-sign"></span>
                                            </div>
                                            <div class="col-md-10 hidden-sm hidden-xs">
                                                <div class="btn btn-primary">New Appointment</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdlph-appointments">
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                        <div class="pdlph-appointment">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="pdlph-appointment-details">
                                        <div class="row">
                                            <table class="table">
                                                <tr>
                                                    <td>Appointment ID</td>
                                                    <td>16846</td>
                                                </tr>
                                                <tr>
                                                    <td>Doctor</td>
                                                    <td>Reynolds</td>
                                                </tr>
                                                <tr>
                                                    <td>Appointment Status</td>
                                                    <td>Confirmed</td>
                                                </tr>
                                                <tr>
                                                    <td>Date</td>
                                                    <td>24/10/2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>11:15 AM</td>
                                                </tr>
                                                <tr>
                                                    <td>Address</td>
                                                    <td>Rico Clinic</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pdlph-slide active" data-slide-id="3">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 pdlph-chat-container">
                                    <div class="pdlph-chat-textbox-container">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pdlph-slide" data-slide-id="4">
                            4
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
